@import 'shared/styles/abstracts/variables.scss';

.display {
    font-weight: 800;
    font-size: 36px;
    line-height: 44px;
    color: $calc-display-color;
    background: #F3F4F6;
    border-radius: 6px;
    padding: 4px;
    text-align: right;
    &--calc {
        font-size: 24px;
    }
    &--calc-mini {
        font-size: 19px;
    }

    &--calc-mini15px {
        font-size: 15px;
    }
}