.constructor {
    margin-top: 30px;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        
    }

    &__blocks {
        flex-basis: 44.5%;
        display: flex;
        flex-direction: column;
        gap: 12px;
        @media screen and (max-width: 570px) {
            flex-basis: 49%;
            max-width: 234px;
        }
        @media screen and (max-width: 470px) {
            flex-basis: 49%;
            max-width: 160px;
            gap: 4px;
        }
    }

    &__canvas {
        flex-basis: 45%;
    }
}