body {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 15px;
}

.app {
    width: 100%;
    max-width: 539px;
    margin: 0 auto;
    padding: 100px 80px 100px 76px;
    @media screen and (max-width: 695px) {
        padding: 100px 15px;
    }
    @media screen and (max-width: 570px) {
        width: unset;
        max-width: unset;
    }
}